.enter-wrap {
	flex-direction: column;
}
.enter {
	flex-direction: column;
}
.enter-area {
	position: relative;
}

.enter-code {
	width: 450px;
	height: 300px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	font-size: 1rem;
	resize: none;
	&::-webkit-scrollbar {
		width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(255, 0, 251, 1);
		border: 2px solid rgba(255, 0, 251, 1);
		border-radius: 12px 12px 12px 12px;
	}
}

.enter-btn-wrap {
	width: 100%;
	display: flex;
}

.enter-btn {
	margin-top: 10px;
	background-color: rgba(255, 0, 251, 0.755);
	border-radius: 10px;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: rgba(255, 0, 251, 1);
	}
	&:not(:first-child) {
		margin-left: 15px;
	}
}

.explain-wrap {
	background-color: #282828;
	width: 455px;
	height: 200px;
	margin-top: 20px;
	border: 2px dashed rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	.explain {
		color: #000;
	}
}
