.enter h1 {
  color: white;
  font-size: 2rem;
}

.enter-area {
  position: relative;
}

textarea {
  width: 450px;
  height: 300px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 1rem;
  resize: none;
}

.enter-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  font-size: 2rem;
}
