.enter {
  margin-top: 20px;
  p {
    color: white;
  }
}

.enter-area {
  position: relative;
}

textarea {
  width: 600px;
  height: 100px;
  background-color: white;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: 1rem;
  resize: none;
}

.enter-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
}
