@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --container-border: 0.01rem solid grey;
  --component-inline: 0.01rem solid grey;
  --container-padding: 0.5rem;
  --box-bg-color: #b7e3ff;
  --tutorial-box-bg-color: pink;
  --container-width: 60rem;
  --input-bg-color: #3cbc8d;
  --box-width: 26rem;
  --large-box-height: 15rem;
  --small-box-height: 6rem;
  --full: 100%;
}

html {
  font-size: 16px;
}

body {
  display: grid;
  place-items: center;
}

.input-view__container {
  display: flex;
  flex-direction: column;
  padding: var(--container-padding);
  width: var(--container-width);
  height: 15rem;
}

.input-view__text-input[type='text'] {
  width: calc(var(--full) - var(--container-padding));
  height: var(--full);
  border: var(--container-border);
  background-color: var(--input-bg-color);
  color: white;
  font-size: 0.8rem;
}

.input-view__submit {
  width: 6.25rem;
  height: 1.5rem;
}

.execution__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(var(--container-width) - 2 * var(--box-width));
  width: var(--container-width);
}

.call-stack__component-box,
.web-apis__component-box,
.event-loop__component-box,
.microtask-queue__component-box,
.macrotask-queue__component-box,
.tutorial__component-box {
  width: var(--box-width);
}

.tutorial__component-content {
  min-height: var(--large-box-height);
  border: var(--container-border);
  background-color: var(--tutorial-box-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorial__components {
  animation: jump-shaking 0.83s ease-in-out;
  width: 80%;
}

.call-stack__component-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: var(--large-box-height);
  border: var(--container-border);
  background-color: var(--box-bg-color);
  overflow: hidden;
}

.event-loop__component-content {
  height: var(--large-box-height);
  border: var(--container-border);
  background-color: var(--box-bg-color);
}

.web-apis__component-content {
  height: var(--large-box-height);
  border: var(--container-border);
  background-color: var(--box-bg-color);
  overflow: hidden;
}

.microtask-queue__component-content,
.macrotask-queue__component-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--small-box-height);
  border: var(--container-border);
  background-color: var(--box-bg-color);
  overflow: hidden;
}

.event-loop__icon {
  width: var(--full);
  height: 50%;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  position: relative;
  top: 25%;
  animation: rotate 1s infinite linear;
}

.task-queue__container {
  width: var(--box-width);
  display: grid;
  justify-content: space-between;
  align-content: space-between;
}

.call-stack__components {
  animation: bounce-in-out 1.5s ease-in-out forwards;
}

.web-apis__components {
  position: relative;
  left: -50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 150%;
  height: 100%;
  animation: moveRight 1.5s ease-in-out forwards;
}

.microtask-queue__components,
.macrotask-queue__components {
  display: flex;
  animation: moveLeft 1.5s ease-in-out forwards;
}

.call-stack__component,
.web-apis__component,
.microtask-queue__component,
.macrotask-queue__component {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--component-inline);
  background-color: #fff;
  width: 11.5rem;
  height: 3rem;
  margin: 0.65rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(var(--box-width) / 2));
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-1 * var(--box-width) / 2));
  }
}

@keyframes bounce-in-out {
  0% {
    transform: translateY(300%);
  }

  10% {
    transform: translateY(110%);
  }

  30% {
    transform: translateY(120%);
  }

  70% {
    transform: translateY(120%);
  }

  100% {
    transform: translateY(-500%);
  }
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(2deg);
  }
  55% {
    transform: translateY(-9px) rotate(-2deg);
  }
  65% {
    transform: translateY(-9px) rotate(2deg);
  }
  75% {
    transform: translateY(-9px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
