@import "./reset.css";
@import "./enter.css";
@import "./eventloop.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

.wrap {
  display: flex;
  width: 1200px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 600px;
}

section {
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  align-items: center;
}
