body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: auto;
}

pre {
  margin: 0;
}

.round-yellow-border {
  border-radius: 20px;
  border: 3px double #9acd32;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.overflow-hidden {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.items-center {
  align-items: center;
}

.call-stack-box {
  width: 280px;
  height: 300px;
  margin-bottom: 50px;
  padding: 10px;
}

.event-loop {
  opacity: 0.3;
  width: 30%;
  height: 50%;
}

.event-loop-wrap {
  justify-content: space-between;
}

.web-api-box {
  height: 200px;
  width: 400px;
  padding: 10px;
}

.microtask-box,
.macrotask-box {
  width: 400px;
  height: 100px;
  padding: 10px;
}