body {
    background: #313030;
    color: white;
    position: relative;
}

.code-input {
    display: block;
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

.run-btn {
    background: #312CB0;
    color: white;
    border: none;
    border-radius: 4px;
    width: 85px;
    height: 30px;
}

.engine-container {
    width: 1200px;
    height: 550px;
    margin:  10px auto;
}

.stack-and-wepApi-view,
.eventLoop-and-queue-view {
    width: 80%;
    height: 45%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.eventLoop-and-queue-view {
    margin-top: 40px;
}
.call-stack-view,
.wep-Api-view {
    width: 40%;
    height: 95%;
    margin: 10px;
    text-align: center;
}

.call-stack-view {
    margin-right: -120px;
}

.call-stack-container,
.wep-Api-container {
    border-radius: 10px;
    border: 2px solid #55B730;
    width: 70%;
    height: 90%;
    margin: 7px auto 0;
}

.wep-Api-container {
    border: 2px solid rgb(207, 206, 206);
}

.event-loop-view {
    display: flex;
    border: 2px solid #1DACA2;
    border-radius: 10px;
    width: 10%;
    height: 90%;
    justify-content: center;
    align-items: center;
    margin-right: -145px;
}

.queue-view {
    width: 50%;
    height: 40%;
    margin: -40px;
}

.microtask-queue-view,
.macrotask-queue-view {
    width: 100%;
    height: 100%;
    margin: 25px;
    text-align: center;
}

.microtask-container,
.macrotask-container {
    border-radius: 10px;
    border: 2px solid #C4730C;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.macrotask-container {
    border: 2px solid #8E8028;
}

.call-stack {
    font-size: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    position: absolute;
    left: -100px;
    top: -100px;
    background: #EF5EA7;
}

.call-stack-out {
    transform: translateY(0px);
    /* opacity: 1;
    transition: opacity 2s ease-in-out; */
}



