body {
    background: #313030;
    color: white;
    position: relative;
    width: 900px;
    height: 750px;
}

.code-input {
    display: block;
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

.run-btn {
    background: #312cb0;
    color: white;
    border: none;
    border-radius: 4px;
    width: 85px;
    height: 30px;
}

.engine-container {
    width: 900px;
    height: 550px;
    margin: 10px auto;
}

.stack-and-wepApi-view,
.eventLoop-and-queue-view {
    width: 900px;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-stack-view,
.wep-Api-view {
    width: 50%;
    height: 80%;
    text-align: center;
}

.call-stack-container,
.wep-Api-container {
    border-radius: 10px;
    border: 2px solid #55b730;
    width: 80%;
    height: 90%;
    margin: auto;
}

.wep-Api-container {
    border: 2px solid rgb(207, 206, 206);
}

.eventloop {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-loop-view {
    border: 2px solid #1daca2;
    border-radius: 10px;
    width: 30%;
    height: 90%;
    text-align: center;
    img {
        height: 130px;
        margin: 45px 0px;
    }
}

.queue-view {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.microtask-queue-view,
.macrotask-queue-view {
    width: 80%;
    height: 50%;
    text-align: center;
}

.microtask-container,
.macrotask-container {
    border-radius: 10px;
    border: 2px solid #c4730c;
    height: 70%;
    margin: 0 auto;
}

.macrotask-container {
    border: 2px solid #8e8028;
}

.call-stack {
    font-size: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 65px;
    border-radius: 10px;
    position: absolute;
    left: -100px;
    top: -100px;
    background: #ef5ea7;
}

.call-stack-out {
    transform: translateY(0px);
    /* opacity: 1;
    transition: opacity 2s ease-in-out; */
}

.active {
    animation: rotate_image 2s linear ;
}

@keyframes rotate_image {
    100% {
        transform: rotate(1turn);
    }
}
